@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background: linear-gradient(to right, #02007e 0%, rgb(0, 0, 64) 27.5%,
		#790630 72.5%, #590424 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

/*Header*/
ul.nav {
	display: flex;
	justify-content: center;
	/* Centra horizontalmente los elementos */
	align-items: center;
	/* Centra verticalmente los elementos */
	list-style: none;
	margin: 0;
}

#nav {
	background: linear-gradient(to right, rgb(0, 0, 64), #8d1c3d);
	padding: 10px;
	position: fixed;
	top: 0;
	left: 20;
	z-index: 100;
	width: 100%;
}

a.title {
	color: #ffffff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	text-decoration: none;
	/* Elimina el subrayado */
	transition: color 0.3s;
	/* Transición suave para el cambio de color */
}

a.title:hover {
	color: #ffcc00;
	/* Cambia el color al pasar el cursor */
}

li.title {
	padding: 0 7%;
}

#logo_champions {
	/* Filter: Desenfoque o cambio de color a un elemento */
	filter: invert(100%);
	height: 50px;
	width: auto;
}

#logo_mundial {
	height: 50px;
}

.uefalogo {
	width: 4em;
	margin-left: 18px;
	margin-right: 60px;
	display: inline;
	padding-bottom: 10px;
}

/* --------------------------- */
.create-container {
	color: #ffffff;
	position: relative;
	width: 30%;
	height: auto;
	padding: 25px;
	margin: 50px auto;
	text-align: center;
	border: solid 3px #ffcc00;
	border-radius: 15px;
}

.form-group {
	margin-bottom: 15px;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}

input[type="submit"] {
	width: 100%;
	padding: 10px;
	border: linear-gradient(to right, rgb(0, 0, 64), #8d1c3d) 1px solid;
	border-radius: 4px;
	background-color: rgba(66, 66, 66, 0.000);
	color: white;
	font-size: 16px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #ffee00;
	color: black;
}

.error {
	color: red;
	margin-top: 10px;
}